*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: century;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(maldives-g05ff6a48c_1920.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.logo a {
    color: coral;
    padding: 5px 15px;
    border: 5px solid #fff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
        font-weight: 900;
        text-shadow: rgba(0, 0, 0, 0.7);


}
.logo span{
color: moccasin;
font-weight: bold;
font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px
}

ul li a {
    text-decoration: none;
    color: beige;
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px;
    font-weight: 500;
    transition: 0.6s ease;
}
ul li a:hover{
    background: white;
    color: black;
}
ul li.active a{
    background: white;
    color: black;
}
.principale{
    max-width: 114rem;
    margin: 0 auto;
}
.titre{
    font-weight: 500;
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: moccasin;


}
.titre a{
    
    font-size: 70px;
}
.bouton{
    font-weight: 500;
    position: absolute ;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: beige

}
.bouton a{
    color: moccasin;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 10px 20px;

}
.btn{
    transition: 0.6s ease;
}
.btn:hover{
    background-color: white;
    color:black;
}